body {
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1218px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.content {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0;
}

.logo {
    margin-right: 70px;
}

.left_part {
    display: flex;
    align-items: center;
}

.links a {
    margin-right: 32px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
}

.right_part a {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 29px;
    border: 1px solid #FFF;
}

.login {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
}

.hero_section {
    background-image: url(./img/man_filming1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-flex;
    height: 718px;
    max-height: 37.396vw;
    align-items: center;
}

.title_text {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.subtext_title {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    line-height: 128.752%;
    margin-bottom: 32px;
}

.bottom__button__hero {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 29px;
    background: #DB1B23;
    max-width: 241px;

}

.bottom__button__text {
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

.Section__2 {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.text_content_section2 {
    display: flex;
    justify-content: space-between;
    margin: 217px 0;
}

.text_left_inner {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
}

.text_right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text_right_inner {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.text_right_red {
    color: #DB1B23;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.Section__3 {
    background-image: url(./img/Proffesional_man_filming.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-flex;
    height: 691px;
    max-height: 35.99vw;
    align-items: center;
}

.top_text {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 48px;
}

.bottom_text_inner {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.Section__3__content {
    display: flex;
    align-items: center;
}

.text_left_content {
    margin-right: 24.688vw;
}

.Play_Button {
    position: relative;
    width: 178px;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_button {
    position: relative;
    width: 166px;
    height: 166px;
    background-color: #cc181e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 45px;
    border-color: transparent transparent transparent #fff;
    margin-left: 8px;
    cursor: pointer;
}

.pulse-ring {
    position: absolute;
    inset: 0;
    background-color: #DB1B23;
    border-radius: 50%;
    opacity: 0;
    transform-origin: center;
    animation: ripple 3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes ripple {
    0% {
        transform: scale(0.95);
        opacity: 0.4;
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

.delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: 0.5s;
}

.delay-3 {
    animation-delay: 0.75s;
}

.delay-4 {
    animation-delay: 1.5s;
}

.top_text_section4 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    margin: 150px 0 48px 0;
}

.cases_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}

.cases_section {
    width: 100%;
}

.case_item {
    width: 100%;
    min-height: 273px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.Case_image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.Case_title {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.Case_description {
    color: #747474;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.button_all_projects {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.all_projects_text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    border-radius: 29px;
    border: 1px solid #FFF;
    padding: 16px 32px;
}

.Section__5 {
    margin: 148px 0 148px 0;

}

.top_text_section5_content {
    margin-bottom: 48px;
}

.top_text_section5 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 32px;
}

.section5_subtitle {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.Service_item {
    width: 100%;
}

.service_item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px 0 27px 0;
}

.service_item_text_content {
    display: flex;
}

.line_up {
    background: #3D3D3D;
    height: 1px;
    border: none;
}

.service_number {
    color: #494949;
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    margin-right: 37px;
}

.service_description {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
}

.Service_image {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Service_image.animate {
    animation: wiggle 0.3s ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.top_text_section6_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.top_text_section6 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
}

.Members_list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.Card_member {
    border-radius: 10.804px;
    border: 1px solid #242424;
    width: 289px;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Card_member_image {
    margin-bottom: 20px;
}

.Card_member_name {
    color: #FFF;
    font-family: Inter;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 12px;
}

.Card_member_position {
    color: #7B7B7B;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

.Question_item_text_content {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    display: flex;
}

.Question_item_position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 32px 0;
    cursor: pointer;
}

.Question_item_arrow {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.Question_item_arrow.open {
    transform: rotate(180deg);
}

.Question_item_answer {
    color: #B4B4B4;
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 28px 0;
}

.QuestionsGrid {
    margin-bottom: 150px;
}

.Order_window {
    width: 1216px;
    height: 464px;
    border-radius: 24px;
    border: 1px solid #3D3D3D;
    background: #0F0F0F;
    display: flex;
    justify-content: center;
    margin: 0 auto 150px auto;
}

.left_side_text {
    margin: 65px 138px 0px 0px;
}

.right_side_input_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_side_text_inner_title {
    color: #FFF;
    font-family: Inter;
    font-size: 63px;
    font-weight: 700;
    line-height: 77px; 
    margin-bottom: 24px;
}

.teft_side_text_inner_subtitle {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
}

.right_side_input_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reg_name,
.reg_phone,
.reg_email {
    border-radius: 8px;
    border: 1px solid #3D3D3D;   
    padding: 16px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 549px;
    background: transparent;
    color: #A0A0A0;
}

.reg_name input::placeholder,
.reg_phone::placeholder,
.reg_email::placeholder {
    color: #B8B8B8;
    font-family: Inter;
    color: #A0A0A0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.button_and_policy {
    display: flex;
    margin-top: 24px;
}

.send_button {
    padding: 16px 36px;
    border-radius: 29px;
    background: #DB1B23;
    border-color: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}



.footer_content {
    display: flex;
    flex-direction: row;
    margin-top: 71px;
}

.contacts {
    margin-right: 115px;
}

.where_find {
    margin-right: 130px;
}

.logo_side {
    width: 97px;
    height: 97px;
    margin-right: 213px;
}



.title_inner_footer {
    color: #FFF;
    font-family: inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 24px;
}

.rest_of_text_footer {
    color: var(--gRAY-3, #828282);
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: 16px;
}

.socials {
    width: 36px;
    height: 36px;

}
.social_media_inner {
    display: flex;
    flex-direction: row;
    gap: 16px;
}